<!--<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>   -->


<div class="fluid-container">



<% if notice  %>

<p id="notice"><%= notice %></p>

<% end %>
 
<h1><center>e-commerce platform</center></h1>

<div class="table-responsive">          
<table class="table">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <!-- TODO, fix "undefined method latest fo" 
    <% cache ['store' , Product.latest] do %>
    -->
    <% @products.each do |product| %>
    <!-- 
     <% cache ['entry' , product] do %>
    -->
      <tr class="info">
       <td><%= product.title %></td>
       <td><%= sanitize(product.description) %></td>
	     <!-- double check if this is really working . -->
	     <td><%= image_tag(product.image_url) %></td>
       <td><%= number_to_currency(product.price) %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>

  </tbody>
</table>

</div> <!-- close table responsive -->

</div> <!-- close container-->

