<!DOCTYPE html>
<html>
<head>


<!-- This file is what create the standard page environemnt for rails different pages.....
     -this is why we don't need  href tags any where across all pagename.html.erb  -->
  <title>Depot2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>" style= "background-color: #F5F5F5;">


<!-- 
<div class="container-fluid">
    <div class="row">
       

        <div class="col-md-5">
            <div class="text-left brand">E-cmmerce</div>
        </div>

        <div class="col-md-2" id="thumbnail caption">
            <img class="center-block img-responsive" style="max-width:100px; margin-top:20px;"> <%= image_tag("5250.png")%> 

        </a>
        </div>

        <div class="col-md-5">
            <div class="text-right brand">Platform</div>
        </div>
    </div> <!-- Ends row -->
    <!-- 
     <row><div class="text-center address-bar"> <%= @page_title || "Online platform"%></div></row> 
</div>  --> <!-- Ends container-fluid-->
<!-- commenetd the above section ,  I think its too ugly  -->


<div class="container-fluid jumbotron" style="padding-left:0px; padding-right:0px;">

        <div class="navbar">
            <div class="navbar-inverse">
                <ul class="nav nav-tabs nav-justified " role="tablist">
                    <li class="divider breadcrumb"><a href="index.html">Main</a>
                    </li>
                    <li class="divider breadcrumb"><a href="about_us.html">About</a>
                    </li>
                    <li class="divider breadcrumb"><a href="products.html">Products</a>
                    </li>
                    <li class="divider breadcrumb"><a href="contact.html">Contact US</a>
                    </li>
                </ul>
            </div>
            <!-- Ends navbar-inverse"-->
        </div>
        <!-- Ends navbar"-->
    </div>
    <!-- Ends container-fluid-->



<div class="container-fluid">



<%= yield %>
</div> <!-- close container for what the store form is rendering-->

 <!-- starts footer -->

<div id="container-fluid">
        

        <!--navbar-fixed-bottom -->

        <!-- Starts top-footer -->
        <!--  fix those ,remove the extra space from the top, -->
        <div style = "background-color: #393443;">

            <ol class="social list-inline fa">
                <ul class="nav nav-tabs navbar navbar-inverse" >

                <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <!-- Change # with your facebook link -->
                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <!-- Change # with your twitter link -->
                <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                </li>
                <!-- Change # with your googleplus link -->
                <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
                </ul>
                <!-- Change # with your instagram link -->
            </ol>

        </div>


        <div class="container" style = "background-color: #696969;">
            <div class="row">
                <div class="pull-left">
                    <div class="col-xs-9 footer-col">
                        <div class="footer-title">
                            Get In Touch
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="/sell">add me</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Ends pull-left -->


                <div class="pull-right">
                    <div class="col-xs-9 footer-col">
                        <div class="footer-title">
                            Get In Touch
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="/sell">add me</a>
                            </li>
                        </ul>
                        <!-- Ends pull-right -->
                    </div>
                </div>
                <!-- Ends pull-right -->

            </div>
            <!-- Ends row -->
        </div>
        <!-- ends Container -->

       <!-- ends fix this add the css -->
        <div class="subFooter">
            <div class="container" style= "background-color: #778899;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <!--add actual pages if you want -->
                            © 2014 <a href="http://codeniche.com/" target="_blank">CodeNiche Inc.</a>
                            <a href="/licenses">Licenses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    </div>
    <!-- Ends footer , if you we dont want the above block of code to inherit footer customized properties we can just move the /div one level up-->



</body>
</html>
